root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{fix,gradle,json,md,mwe2,sh,vim,xtext,yml}]
indent_size = 2

[*.tmLanguage]
indent_style = tab
