# Ignore Maven traget directory:
/target/

# Ignore Eclipse project files:
.checkstyle
.pmd
.eclipse-pmd
.classpath
.project
.settings/

# Ignore IntelliJ project files:
*.ipr
*.iws
*.iml
.idea
/out/

# Ignore IntelliJ JIRA plugin
atlassian-ide-plugin.xml
