.gradle/
build/
generated/
xtext-gen/
out/
node_modules/
xtext-server/
package-lock.json
*.hprof.txt
*.vsix
/metafix/src/test/resources/org/metafacture/metafix/integration/**/*.diff
/metafix/src/test/resources/org/metafacture/metafix/integration/**/*.err
/metafix/src/test/resources/org/metafacture/metafix/integration/**/*.out
/metafix/src/test/resources/org/metafacture/metafix/integration/**/output-*
!/metafix/src/test/resources/org/metafacture/metafix/integration/**/expected.err
